html, body {
    height: 100%;
    overflow: hidden !important;
    margin: 0;
}

#primary {
    height: calc(100vh - 56px);
    overflow-y: auto !important;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 30px;
    box-sizing: border-box;
    scrollbar-width: none;
}

#secondary {
    height: calc(100vh - 56px);
    overflow-y: auto !important;
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 30px;
    scrollbar-width: none;
}

#primary::-webkit-scrollbar,
#secondary::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

ytd-watch-flexy {
    overflow: hidden !important;
}
